table {
    border-collapse: collapse;
    width: 90%;
}

table, th, td {
  border: 1px solid black;  
}

.Login .loginForm {
  width: 30;
  background-color: #eeeeee;
}

thead
{
  display: block;
  width: 90%;
  overflow: auto;
  color: #fff;
  background: #000;
}

.v-scroll {
  display: block;
  overflow-y: auto;
  height: 300px;
  width:215;
}

.InstrumentsTable {
  width: 200;
  border-collapse: collapse;
}

.PriceTable {
  width: 300;
  border-collapse: collapse; 
}

.PriceTable-f {
  width: 300;
  border-collapse: collapse; 
  background-color: lightblue; 
}

.msg {
  color: red;
}

.selected {
  background-color: #22ee22;
}

.no-left-border {  
  border-left: none;
}

.no-right-border {  
  border-right: none;
}

.ordinal {
  background-color: #f2f2f2 
}

.invisible {
  display:none;
}

th,td {
  padding: 15px;
  height: 10px;
}

th {
  background-color: #000;
  color: #fff;
  text-decoration: underline;

}

/*
tr:nth-child(even) {
  background-color: #f2f2f2;
}
*/

